<h1>Nuestros productos</h1>

<!-- Filtro de categorías -->
<div class="filtro-categorias">
  <label for="categoria">Filtrar por categoría:</label>
  <select id="categoria" [(ngModel)]="categoriaSeleccionada">
    @for (cat of categorias; track cat) {
  <option [value]="cat">{{ cat }}</option>
}
  </select>
</div>

<section class="productos">
  @for (producto of productosFiltrados; track producto.id) {
    <article class="producto">
      <img [src]="producto.imagen" [alt]="producto.nombre">
      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
      <strong>{{ producto.precio }}</strong>
      <br>
      <button (click)="toggleDetalles(producto)">
        {{ producto.mostrarDetalles ? 'Ocultar' : 'Ver más' }}
      </button>

      @if (producto.mostrarDetalles) {
        <div class="detalles">
          <p><strong>Detalles:</strong> {{ producto.detalles }}</p>
        </div>
      }
    </article>
  }
</section>
